//* fonts
// @import "../fonts/FontFamily/FontName.css";

:root{
  --basesize: 1.25rem;
  --basefamily: "Times New Roman", serif;
}

body{
  font-family: var(--basefamily); 
  font-size: var(--basesize);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;  
}

